<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1>Product list</h1>
<table>
    <tr>
        <th>Name</th>
        <th>LastName</th>
        <th>Books</th>

    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.firstName}">Amit</td>
        <td th:text="${author.lastName}">Hora</td>
        <!--<td th:text="${author.books}">Hora</td>-->
        <td th:each="book : ${author.books}">
        <td th:text="${book}">123</td>
        <!--<td th:text="${book.title}">spring</td>-->
        <!--<td th:text="${book.publisher.name}">Amit</td>-->

        </td>

    </tr>

</table>

</body>
</html>